<form class="add-form">
  <h2 class="title">Registrar Proveedor</h2>
  <mat-form-field class="full-width">
    <mat-label>RUC</mat-label>
    <input
      type="text"
      matInput
      [formControl]="rucFormControl"
      placeholder="Ex. 20601234187"
    />
    @if (rucFormControl.hasError('required')) {
    <mat-error>El RUC es requerido</mat-error>
    }
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-label>Nombre</mat-label>
    <input
      type="text"
      matInput
      [formControl]="nameFormControl"
      placeholder="Ex. Corporación 1"
    />
    @if (nameFormControl.hasError('required')) {
    <mat-error>El nombre es requerido</mat-error>
    }
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-label>Email</mat-label>
    <input
      type="email"
      matInput
      [formControl]="emailFormControl"
      placeholder="Ex. mail@example.com"
    />
    @if (emailFormControl.hasError('email')) {
    <mat-error>Ingrese una dirección de correo valida</mat-error>
    } @if (emailFormControl.hasError('required')) {
    <mat-error>El email es requerido</mat-error>
    }
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-label>Teléfono</mat-label>
    <input
      type="tel"
      matInput
      [formControl]="telephoneFormControl"
      placeholder="Ex. 947123496"
    />
    @if (telephoneFormControl.hasError('pattern')) {
    <mat-error>Ingrese un teléfono valido</mat-error>
    } @if (telephoneFormControl.hasError('required')) {
    <mat-error>El teléfono es requerido</mat-error>
    }
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-label>Dirección</mat-label>
    <input
      type="text"
      matInput
      [formControl]="addressFormControl"
      placeholder="Ex. Avenida 123"
    />
    @if (addressFormControl.hasError('required')) {
    <mat-error>La dirección es requerida</mat-error>
    }
  </mat-form-field>

  <div class="buttons">
    <button
      mat-fab
      extended
      [attr.aria-label]="'Registrar Proveedor'"
      class="add"
    >
      <mat-icon>add</mat-icon>
      Registrar
    </button>

    <a routerLink="/supplier/index">
      <button ngNoForm mat-fab extended [attr.aria-label]="'Cancelar registro'">
        <mat-icon>close</mat-icon>
        Cancelar
      </button>
    </a>
  </div>
</form>
