<form [formGroup]="supplierForm" (ngSubmit)="editSupplier()" class="edit-form">
  <h2 class="title">Editar Proveedor</h2>
  <mat-form-field class="full-width">
    <mat-label>RUC</mat-label>
    <input type="text" matInput formControlName="ruc" />
    @if (supplierForm.get("ruc")?.hasError('required')) {
    <mat-error>El RUC es requerido</mat-error>
    } @if (supplierForm.get("ruc")?.hasError('pattern')) {
    <mat-error>El RUC debe tener 11 dígitos</mat-error>
    }
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-label>Nombre</mat-label>
    <input type="text" matInput formControlName="name" />
    @if (supplierForm.get("name")?.hasError('required')) {
    <mat-error>El nombre es requerido</mat-error>
    }
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-label>Email</mat-label>
    <input type="email" matInput formControlName="email" />
    @if (supplierForm.get("email")?.hasError('email')) {
    <mat-error>Ingrese una dirección de correo valida</mat-error>
    } @if (supplierForm.get("email")?.hasError('required')) {
    <mat-error>El email es requerido</mat-error>
    }
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-label>Teléfono</mat-label>
    <input type="tel" matInput formControlName="phone" />
    @if (supplierForm.get("phone")?.hasError('pattern')) {
    <mat-error>Ingrese un teléfono valido</mat-error>
    } @if (supplierForm.get("phone")?.hasError('required')) {
    <mat-error>El teléfono es requerido</mat-error>
    }
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-label>Dirección</mat-label>
    <input type="text" matInput formControlName="address" />
    @if (supplierForm.get("address")?.hasError('required')) {
    <mat-error>La dirección es requerida</mat-error>
    }
  </mat-form-field>

  <div class="buttons">
    <button
      mat-fab
      extended
      [attr.aria-label]="'Registrar Proveedor'"
      class="edit"
    >
      <mat-icon>edit</mat-icon>
      Editar
    </button>

    <a routerLink="/supplier/index">
      <button ngNoForm mat-fab extended [attr.aria-label]="'Cancelar registro'">
        <mat-icon>close</mat-icon>
        Cancelar
      </button>
    </a>
  </div>
</form>
