<form [formGroup]="productForm" (ngSubmit)="addProduct()" class="add-form">
  <h2 class="title">Registrar Producto</h2>

  <mat-form-field class="full-width">
    <mat-label>Código</mat-label>
    <input
      type="text"
      matInput
      formControlName="code"
      placeholder="Ex. ABC123"
    />
    @if (productForm.get("code")?.hasError('required')) {
    <mat-error> El código es requerido </mat-error>
    } @if (productForm.get("code")?.hasError('pattern')) {
    <mat-error
      >El código debe ser de 5 caracteres solo puede contener letras y
      números</mat-error
    >
    }
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-label>Nombre</mat-label>
    <input
      type="text"
      matInput
      formControlName="name"
      placeholder="Ex. Producto XYZ"
    />
    @if (productForm.get("name")?.hasError('required')) {
    <mat-error>El nombre es requerido</mat-error>
    } @if (productForm.get("name")?.hasError('pattern')) {
    <mat-error>El nombre solo puede contener letras y espacios</mat-error>
    }
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-label>Descripción</mat-label>
    <textarea
      matInput
      formControlName="description"
      placeholder="Ex. Descripción detallada del producto"
    ></textarea>
    @if (productForm.get("description")?.hasError('required')) {
    <mat-error>El descripción es requerida</mat-error>
    } @if (productForm.get("description")?.hasError('maxlength')) {
    <mat-error>La descripción no puede superar los 255 caracteres</mat-error>
    }
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-label>Precio</mat-label>
    <input
      type="text"
      matInput
      formControlName="price"
      placeholder="Ex. 99.99"
    />
    @if (productForm.get("price")?.hasError('required')) {
    <mat-error> El precio es requerido</mat-error>
    } @if (productForm.get("price")?.hasError('pattern')) {
    <mat-error>El precio debe ser un número con hasta dos decimales</mat-error>
    }
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-label>Stock</mat-label>
    <input type="text" matInput formControlName="stock" placeholder="Ex. 50" />
    @if (productForm.get("stock")?.hasError('required')) {
    <mat-error>El stock es requerido</mat-error>
    } @if (productForm.get("stock")?.hasError('pattern')) {
    <mat-error>El stock solo puede contener números</mat-error>
    }
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-label>Categoría</mat-label>
    <mat-select formControlName="category" required>
      @for (category of categories; track category) {
      <mat-option [value]="category.id">{{ category.name }}</mat-option>
      }
    </mat-select>
    @if (productForm.get("category")?.hasError('required')) {
    <mat-error>La categoría es requerida</mat-error>
    }
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-label>Proveedor</mat-label>
    <mat-select formControlName="supplier" required>
      @for (supplier of suppliers; track supplier) {
      <mat-option [value]="supplier.id">{{ supplier.name }}</mat-option>
      }
    </mat-select>
    @if (productForm.get("supplier")?.hasError('required')) {
    <mat-error>El proveedor es requerido</mat-error>
    }
  </mat-form-field>

  <div class="buttons">
    <button
      mat-fab
      extended
      [attr.aria-label]="'Registrar producto'"
      class="add"
      type="submit"
    >
      <mat-icon>add</mat-icon>
      Registrar
    </button>

    <a routerLink="/product/index">
      <button ngNoForm mat-fab extended [attr.aria-label]="'Cancelar registro'">
        <mat-icon>close</mat-icon>
        Cancelar
      </button>
    </a>
  </div>
</form>
